USE [master]
GO
/****** Object:  Database [BDEXAMPLE]    Script Date: 9/7/2020 11:29:59 ******/
CREATE DATABASE [BDEXAMPLE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDEXAMPLE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BDEXAMPLE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDEXAMPLE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BDEXAMPLE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDEXAMPLE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDEXAMPLE]
GO
/****** Object:  Table [dbo].[PERRITOS]    Script Date: 9/7/2020 11:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERRITOS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](60) NULL,
	[Edad] [int] NULL,
	[Color] [varchar](60) NULL,
	[Género] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 9/7/2020 11:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](60) NULL,
	[Apellido] [varchar](60) NULL,
	[Edad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PERRITOS] ON 

INSERT [dbo].[PERRITOS] ([id], [Nombre], [Edad], [Color], [Género]) VALUES (1, N'Kira', 2, N'Café con blanco', N'Hembra')
INSERT [dbo].[PERRITOS] ([id], [Nombre], [Edad], [Color], [Género]) VALUES (2, N'Pongo', 7, N'Negro', N'Macho')
INSERT [dbo].[PERRITOS] ([id], [Nombre], [Edad], [Color], [Género]) VALUES (3, N'Danna', 1, N'Blanco', N'Hembra')
SET IDENTITY_INSERT [dbo].[PERRITOS] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIOS] ON 

INSERT [dbo].[USUARIOS] ([id], [Nombre], [Apellido], [Edad]) VALUES (1, N'Mark', N'Lopéz', 20)
INSERT [dbo].[USUARIOS] ([id], [Nombre], [Apellido], [Edad]) VALUES (2, N'Jacob', N'Peréz', 22)
SET IDENTITY_INSERT [dbo].[USUARIOS] OFF
GO
USE [master]
GO
